.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color:white;
  text-align:left;
  font-weight:bolder;
  font-size:8vh;
  word-wrap:break-word;
}

#para{
  color:white;
  text-align:center;
  font-weight:bolder;
  font-size:3vh;
  word-wrap:break-word;
}
h4{
  color:white;
  text-align:center;
  font-size:4vh;
  word-wrap:break-word;
}
#project_details{
  color:white;
  text-align:justify;
  font-size:3vh;
  word-wrap:break-word;
  padding: 1vh;
 
}
#aboutME{
  color:white;
  text-align:left;
  font-weight:bolder;
  font-size:2.2vh;
  word-wrap:break-word;

}
h1{
  color:white;
  text-align:center;
  font-weight:bolder;
  font-size:6vh;
  word-wrap:break-word;
 
}
h3{
  color:white;
  text-align:left;
  font-size:1vh;
  word-wrap:break-word;
 
}
.myself{
  color:yellow;
  word-wrap:break-word; 
  font-weight:bolder;
  font-size:6vh;
  text-align:left;
 
}
@media(max-width: 800px) {
  #project_details{
   font-size: 2vh;
   
  }
  h4{
    font-size:3vh;
  }
  
 
  .myself{
    font-size:3vh; 
  }
  p{
    font-size: 4vh;
  }
  .hobbies{
    font-size: 1vh;
    word-wrap: break-word;
    font-weight: bolder;
  
  }
  h3{
    font-size: 2vh;
  }
}


.find{
  text-align: center;
  color: white;
  font-size: 4vh;
}
.about{
  height: 250vh;
  margin: auto;
  width: 100%;

}

.about1{
 
  height: 90vh;
  margin-top: 20vh;
  width: 100%;

}
h3{
  font-size: 3vh;
  word-wrap: break-word;
}
.hobbies{
 
  height: 80vh;
  margin-top: 20vh;
  margin-left: 10vh;
  width: 50%;
  color: white;
  padding: 2vh;
  font-size: 3vh;
  word-wrap: break-word;
  font-weight: bolder;

}
#highlight{
  color: yellow;
  word-wrap: break-word;
}
#Skillhighlight{
  color: darkorchid;
  word-wrap: break-word;
}
#home{
  margin: auto;
  background-image: url('../src/img/home-bg.jpg');
  background-size: cover;
   height: 340vh;
  
}
.footer{
  margin: auto;
  background-image: url('../src/img/home-bg.jpg');
  background-size: cover;
  height: 20vh;

  padding: 2vh;
  
}
#skills{
  margin: auto;
  background-image: url('../src/img/star.jpg');
  background-size: cover;
   height: 165vh;
  
}

#resume{
  margin: auto;
  background-image: url('../src/img/star.jpg');
  background-size: cover;
   height: 20vh;
  
}
.skill,.project{
 
  border: black solid;
  height: 300vh;
  margin-top: 20vh;
  width: 100%;

}

a { 
  color: white;
}

#skills{
  margin: auto;
  background-image: url('../src/img/star.jpg');
  background-size: cover;
   height: 165vh;
  
}


#projects{
  margin: auto;
  background-image: url('../src/img/star.jpg');
  background-size: cover;
   height: 330vh;
  
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
.tech-icons{
  color: white;
  border: darkorchid solid 0.1vh;
  border-radius: 2vh;
  transition: all 0.4s ease 0s;
  height: 50vh;

 

 
}

.tech-icons:hover {
  transform: scale(1.05) ;
  overflow: hidden;
  border: 2.2px solid rgba(197, 115, 230, 0.883);
}

